@font-face {
  font-family: 'RedactionBold';
  font-weight: 300;
  src: url(./assets/fonts/Redaction-Bold.otf);
}
@font-face {
  font-family: 'RedactionRegular';
  font-weight: 300;
  src: url(./assets/fonts/Redaction-Regular.otf);
}


@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Bellefair, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{
  --redaction-reg: RedactionRegular;
  --redaction-bold: RedactionBold;
}